.auth-wrapper {
    background: #F8FBFB;

    .auth-box {
        width: 100%;
        max-width: 398px;
        margin: 3px;
        box-sizing: border-box;
        border: 1px solid $auth-border-color;
        border-radius: 10px;
        background-color: $white;
        padding: 40px 24px 30px;

        .logo {
          text-align: center;
        }

        .logo-login {
            height: 40px;
            width: 172px;
            object-fit: cover;
            margin-bottom: 30px;
        }

        .login-text {
            margin-bottom: 10px;
            @include font (#263237, 22px, 26px, 'HelveticaBold');
        }


        input.form-control  {
            border: 1px solid #EAECEF;
            border-radius: 4px;
            background-color: #FFFFFF !important;
            @include font (#54667A, 16px, 19px, 'HelveticaRegular');
            height: 58px;
        }

        .password {
            margin-bottom: 0 !important;
            position: relative;

            .icon-password {
                background: none;
                border: none;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                font-weight: bold;
                z-index: 3;
            }
        }

        .forgot-login{
            margin-bottom: 30px;

            a {
                @include font (#54667A, 16px, 19px, 'HelveticaRegular');
                margin-top: 10px;
            }

            &.username {
              margin-bottom: 20px;
            }
        }

        .btn-login {
            border-radius: 6px;
            background-color: #145196;
            @include font (#FFFFFF, 16px, 19px, 'HelveticaRegular');
        }

        .btn-white-bg {
            border-radius: 6px;
            background-color: #FFFFFF;
            @include font (#54667A, 16px, 19px, 'HelveticaRegular');
            border: 1px solid #EAECEF;
            margin-top: 16px;
        }

        .form-text-small {
            @include font (#909BA8, 12px,  14px, 'HelveticaRegular');
        }
    }
}




.floating-input {
  position: relative;

  input {
    border: 1px solid #EAECEF;
    border-radius: 4px;
    background-color: #FFFFFF !important;
    @include font (#54667A, 16px, 19px, 'HelveticaRegular');
    height: 58px;
  }

  label {
    left: 20px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    @include font (#54667A, 16px, 19px, 'HelveticaRegular');
    opacity: 0.8;
  }

  input:focus,
  input:-webkit-autofill,
  input:not(:placeholder-shown)  {
    padding: 1rem 1rem 0rem 1rem;
  }

  input:autofill {
    padding: 1rem 1rem 0rem 1rem;
  }

  input:focus + .placeholder,
  input:-webkit-autofill + .placeholder,
  input:not(:placeholder-shown) + .placeholder {
    @include font (#909BA8, 12px, 14px, 'HelveticaRegular');
    transform: translateY(-10px) translateX(-5px) scale(0.75) !important;
  }

  input:autofill + .placeholder {
    @include font (#909BA8, 12px, 14px, 'HelveticaRegular');
    transform: translateY(-10px) translateX(-5px) scale(0.75) !important;
  }

  .input:not(:placeholder-shown) ~ .placeholder {
    // color: #54667A;
  }

  .input:focus ~ .placeholder {
    // color: #dc2f55;
  }
}



.floating-area {
  position: relative;

  textarea {
    border: 1px solid #EAECEF;
    border-radius: 4px;
    background-color: #FFFFFF !important;
    @include font (#54667A, 16px, 19px, 'HelveticaRegular');
    min-height: 100px;
  }

  label {
    left: 20px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    @include font (#54667A, 16px, 19px, 'HelveticaRegular');
    opacity: 0.8;
  }

  textarea:focus,
  textarea:-webkit-autofill,
  textarea:not(:placeholder-shown)  {
    padding: 1.5rem 1rem 0rem 1rem;
  }

  textarea:autofill {
    padding: 1.5rem 1rem 0rem 1rem;
  }

  textarea:focus + .placeholder,
  textarea:-webkit-autofill + .placeholder,
  textarea:not(:placeholder-shown) + .placeholder {
    @include font (#909BA8, 12px, 14px, 'HelveticaRegular');
    transform: translateY(-10px) translateX(-5px) scale(0.75) !important;
  }

  textarea:autofill + .placeholder {
    @include font (#909BA8, 12px, 14px, 'HelveticaRegular');
    transform: translateY(-10px) translateX(-5px) scale(0.75) !important;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #909BA8 !important;
}