@page "/sa/check-in-utility"
@layout SaLayout
@using CellarPassAppAdmin.Shared.Models.ViewModel
@using CellarPassAppAdmin.Client.ViewModels
@inject IBusinessViewModel _businessViewModel
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <SfSpinner @bind-Visible="isLoading"></SfSpinner>
        <Title Value="@title"></Title>

        <div class="py-3">
            <div class="row justify-content-between align-items-center">
                <div class="col-md">
                    <h5 class="mb-0"><a href="/sa/configuration" class="btn btn-falcon-default btn-sm px-2 me-3" title="Back"><span class="far fa-arrow-left me-1"></span></a>Check-In Utility</h5>
                </div>
            </div>
            <hr />
        </div>
        <div class="row mb-3 justify-content-between">
            <div class="col-md-3">
                <label for="inputSearchCheckinHistory" class="form-label">Search Check-in History</label>
                <input type="text" class="form-control" id="inputSearchCheckinHistory" >
            </div>
            <div class="col-md-3">
                <label for="selSearchCriteria" class="form-label">Search Criteria</label>
                <select id="selSearchCriteria" class="form-select">
                    <option value="0">Reservation Check-in History</option>
                    <option selected="selected" value="1">Ticket Check-in History</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="selCheckinDateRange" class="form-label">Check-in Date Range</label>
                <select id="selCheckinDateRange" class="form-select">
                    <option value="30">Last 30 Days</option>
                    <option value="60">Last 60 Days</option>
                    <option selected="selected" value="90">Last 90 Days</option>
                    <option value="0">Any</option>
                </select>
            </div>
            <div class="col-md">
                <label class="form-label">&nbsp;</label><br />
                <button type="button" class="btn btn-sm btn-primary">Search</button>
            </div>
        </div>
        <div class="min-vh-75 sf-grid">
            <SfGrid DataSource="@PlaceholderDataList" AllowPaging="true" Width="100%">
                <GridFilterSettings Mode="FilterBarMode.Immediate"></GridFilterSettings>
                <GridPageSettings PageSize="50"></GridPageSettings>
                <GridTemplates Context="iContext">
                    <EmptyRecordTemplate>
                        <div class="font-weight-black fs-8 text-center my-4">
                            <h6><span class="fa-regular fa-exclamation-triangle me-2"></span>No data available in table</h6>
                        </div>
                    </EmptyRecordTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn Field=@nameof(PlaceholderData.GuestName) HeaderText="Guest Name" TextAlign="TextAlign.Left" Width="70" />
                    <GridColumn Field=@nameof(PlaceholderData.CheckinDate) HeaderText="Check-in Date" TextAlign="TextAlign.Left" Width="70" />
                    <GridColumn Field=@nameof(PlaceholderData.Merchant) HeaderText="Merchant" TextAlign="TextAlign.Left" Width="40" />
                    <GridColumn Field=@nameof(PlaceholderData.EventName) HeaderText="Event Name" TextAlign="TextAlign.Left" Width="40" />
                    <GridColumn Field=@nameof(PlaceholderData.Location) HeaderText="Location" TextAlign="TextAlign.Left" Width="40" />
                    <GridColumn Field=@nameof(PlaceholderData.TicketId) HeaderText="Ticket Id" TextAlign="TextAlign.Left" Width="40" />
                </GridColumns>
            </SfGrid>
        </div>
    </Authorized>
</AuthorizeView>

@code
{
    private string title = "Check-In Utility | Synergy Commerce Admin Panel";
    private bool isLoading = false;

    public class PlaceholderData
    {
        public string GuestName { get; set; }
        public string CheckinDate { get; set; }
        public string Merchant { get; set; }
        public string EventName { get; set; }
        public string Location { get; set; }
        public string TicketId { get; set; }
    }
    public List<PlaceholderData> PlaceholderDataList { get; set; }

}