@page "/sa/twilio-settings"
@layout SaLayout
@using CellarPassAppAdmin.Shared.Models.ViewModel
@using CellarPassAppAdmin.Client.ViewModels
@inject IBusinessViewModel _businessViewModel
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <SfSpinner @bind-Visible="isLoading"></SfSpinner>
        <Title Value="@title"></Title>

        <div class="py-3">
            <div class="row justify-content-between align-items-center">
                <div class="col-md">
                    <h5 class="mb-0"><a href="/sa/configuration" class="btn btn-falcon-default btn-sm px-2 me-3" title="Back"><span class="far fa-arrow-left me-1"></span></a>Twilio Configuration</h5>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">Save</button>
                </div>
            </div>
            <hr />
        </div>
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <label for="inputAccountSID" class="form-label">Account SID</label>
                <input type="text" class="form-control" id="inputAccountSID" value="">
            </div>
            <div class="col-md-6 mb-3">
                <label for="inputAuthToken" class="form-label">Auth Token</label>
                <input type="text" class="form-control" id="inputAuthToken" value="">
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code
{
    private string title = "Twilio Configuration | Synergy Commerce Admin Panel";
    private bool isLoading = false;

}