@page "/sa/configuration"
@layout SaLayout

<AuthorizeView>
    <Authorized>
        <Title Value="@title"></Title>

        <div class="row my-4">
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-inbox-out fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="sa/configuration/email-server-settings">Email Server Settings</a></h6>
                        <p class="fs--2">Configure Mailgun integration</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-box-open fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="sa/configuration/avalara-item-type-mapping">Avalara Item Type Mapping</a></h6>
                        <p class="fs--2">Configure Item Types and Tax Mappings</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-file-medical-alt fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="sa/configuration/logs">Logs</a></h6>
                        <p class="fs--2">Status and Error Logs</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-tty fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/twilio-settings">Twilio Configuration</a></h6>
                        <p class="fs--2">Manage Twilio integration</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-calculator fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/taxify-settings">Taxify Configuration</a></h6>
                        <p class="fs--2">Manage Taxify Configuration</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-file-invoice fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/billing-payment-gateway">Billing Payment Gateway</a></h6>
                        <p class="fs--2">Manage billing payment gateway</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-ticket-alt fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/ticketing-payment-gateway">Ticketing Payment Gateway</a></h6>
                        <p class="fs--2">Manage ticketing payment gateway</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-money-bill fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/supplier-payment-gateway">Supplier Payment Gateway</a></h6>
                        <p class="fs--2">Manage supplier payment gateway</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-user-clock fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/user-sync-schedule">User Sync Schedule</a></h6>
                        <p class="fs--2">Configure 3rd party User sync schedule</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-radar fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/opentable-restaurants">OpenTable Finder</a></h6>
                        <p class="fs--2">Locate and setup OpenTable restaurants</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-business-time fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/business-account-status">Business Account Status</a></h6>
                        <p class="fs--2">Review account status for Business accounts</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-people-arrows fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/business-account-user-mapping">Account Mapping</a></h6>
                        <p class="fs--2">Review User account mapping</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-calendar-check fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/reservation-utility">Reservation Utility</a></h6>
                        <p class="fs--2">Check details of a Reservation</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-ticket fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/ticket-order-utility">Ticket Order Utility</a></h6>
                        <p class="fs--2">Check details of a Ticket Order</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-check-square fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/check-in-utility">Check-In Utility</a></h6>
                        <p class="fs--2">Determine check-in status of a Reservation or Ticket</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    @*<span class="far fa-mailchimp fa-2x fa-fw me-2"></span>*@
                    <svg class="svg-inline--fa fa-mailchimp fa-w-14 fa-2x fa-fw me-2" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="mailchimp" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M330.61 243.52a36.15 36.15 0 0 1 9.3 0c1.66-3.83 1.95-10.43.45-17.61-2.23-10.67-5.25-17.14-11.48-16.13s-6.47 8.74-4.24 19.42c1.26 6 3.49 11.14 6 14.32zM277.05 252c4.47 2 7.2 3.26 8.28 2.13 1.89-1.94-3.48-9.39-12.12-13.09a31.44 31.44 0 0 0-30.61 3.68c-3 2.18-5.81 5.22-5.41 7.06.85 3.74 10-2.71 22.6-3.48 7-.44 12.8 1.75 17.26 3.71zm-9 5.13c-9.07 1.42-15 6.53-13.47 10.1.9.34 1.17.81 5.21-.81a37 37 0 0 1 18.72-1.95c2.92.34 4.31.52 4.94-.49 1.46-2.22-5.71-8-15.39-6.85zm54.17 17.1c3.38-6.87-10.9-13.93-14.3-7s10.92 13.88 14.32 6.97zm15.66-20.47c-7.66-.13-7.95 15.8-.26 15.93s7.98-15.81.28-15.96zm-218.79 78.9c-1.32.31-6 1.45-8.47-2.35-5.2-8 11.11-20.38 3-35.77-9.1-17.47-27.82-13.54-35.05-5.54-8.71 9.6-8.72 23.54-5 24.08 4.27.57 4.08-6.47 7.38-11.63a12.83 12.83 0 0 1 17.85-3.72c11.59 7.59 1.37 17.76 2.28 28.62 1.39 16.68 18.42 16.37 21.58 9a2.08 2.08 0 0 0-.2-2.33c.03.89.68-1.3-3.35-.39zm299.72-17.07c-3.35-11.73-2.57-9.22-6.78-20.52 2.45-3.67 15.29-24-3.07-43.25-10.4-10.92-33.9-16.54-41.1-18.54-1.5-11.39 4.65-58.7-21.52-83 20.79-21.55 33.76-45.29 33.73-65.65-.06-39.16-48.15-51-107.42-26.47l-12.55 5.33c-.06-.05-22.71-22.27-23.05-22.57C169.5-18-41.77 216.81 25.78 273.85l14.76 12.51a72.49 72.49 0 0 0-4.1 33.5c3.36 33.4 36 60.42 67.53 60.38 57.73 133.06 267.9 133.28 322.29 3 1.74-4.47 9.11-24.61 9.11-42.38s-10.09-25.27-16.53-25.27zm-316 48.16c-22.82-.61-47.46-21.15-49.91-45.51-6.17-61.31 74.26-75.27 84-12.33 4.54 29.64-4.67 58.49-34.12 57.81zM84.3 249.55C69.14 252.5 55.78 261.09 47.6 273c-4.88-4.07-14-12-15.59-15-13.01-24.85 14.24-73 33.3-100.21C112.42 90.56 186.19 39.68 220.36 48.91c5.55 1.57 23.94 22.89 23.94 22.89s-34.15 18.94-65.8 45.35c-42.66 32.85-74.89 80.59-94.2 132.4zM323.18 350.7s-35.74 5.3-69.51-7.07c6.21-20.16 27 6.1 96.4-13.81 15.29-4.38 35.37-13 51-25.35a102.85 102.85 0 0 1 7.12 24.28c3.66-.66 14.25-.52 11.44 18.1-3.29 19.87-11.73 36-25.93 50.84A106.86 106.86 0 0 1 362.55 421a132.45 132.45 0 0 1-20.34 8.58c-53.51 17.48-108.3-1.74-126-43a66.33 66.33 0 0 1-3.55-9.74c-7.53-27.2-1.14-59.83 18.84-80.37 1.23-1.31 2.48-2.85 2.48-4.79a8.45 8.45 0 0 0-1.92-4.54c-7-10.13-31.19-27.4-26.33-60.83 3.5-24 24.49-40.91 44.07-39.91l5 .29c8.48.5 15.89 1.59 22.88 1.88 11.69.5 22.2-1.19 34.64-11.56 4.2-3.5 7.57-6.54 13.26-7.51a17.45 17.45 0 0 1 13.6 2.24c10 6.64 11.4 22.73 11.92 34.49.29 6.72 1.1 23 1.38 27.63.63 10.67 3.43 12.17 9.11 14 3.19 1.05 6.15 1.83 10.51 3.06 13.21 3.71 21 7.48 26 12.31a16.38 16.38 0 0 1 4.74 9.29c1.56 11.37-8.82 25.4-36.31 38.16-46.71 21.68-93.68 14.45-100.48 13.68-20.15-2.71-31.63 23.32-19.55 41.15 22.64 33.41 122.4 20 151.37-21.35.69-1 .12-1.59-.73-1-41.77 28.58-97.06 38.21-128.46 26-4.77-1.85-14.73-6.44-15.94-16.67 43.6 13.49 71 .74 71 .74s2.03-2.79-.56-2.53zm-68.47-5.7zm-83.4-187.5c16.74-19.35 37.36-36.18 55.83-45.63a.73.73 0 0 1 1 1c-1.46 2.66-4.29 8.34-5.19 12.65a.75.75 0 0 0 1.16.79c11.49-7.83 31.48-16.22 49-17.3a.77.77 0 0 1 .52 1.38 41.86 41.86 0 0 0-7.71 7.74.75.75 0 0 0 .59 1.19c12.31.09 29.66 4.4 41 10.74.76.43.22 1.91-.64 1.72-69.55-15.94-123.08 18.53-134.5 26.83a.76.76 0 0 1-1-1.12z"></path></svg>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/mailchimp-configuration">MailChimp Configuration</a></h6>
                        <p class="fs--2">Manage MailChimp integration</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    @*<span class="far fa-aws fa-2x fa-fw me-2"></span>*@
                    <svg class="svg-inline--fa fa-mailchimp fa-w-14 fa-2x fa-fw me-2" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><polygon points="20.189 12.33 20.189 12.33 20.188 12.33" /><path fill="currentColor" d="M.106 14.677c3.13 2.855 7.272 4.573 11.87 4.573 3.28 0 7.096-1.04 9.722-3 .431-.323.056-.815-.383-.613-2.946 1.258-6.146 1.871-9.06 1.871-4.318 0-8.493-1.202-11.877-3.186C.082 14.145-.141 14.452.106 14.677zM17.181 5.16c0-.136-.073-.202-.2-.202H16.24c-.011-.001-.023-.001-.034-.001-.104 0-.2.03-.279.082-.056.048-.112.154-.16.315l-1.381 5.403-1.261-5.403c-.031-.154-.088-.267-.151-.315-.064-.056-.168-.081-.32-.081h-.636c-.012-.001-.023-.001-.035-.001-.106 0-.205.03-.287.082-.063.048-.111.154-.151.315L10.3 10.693 8.958 5.354c-.047-.154-.095-.267-.16-.315-.055-.056-.159-.081-.31-.081H7.705c-.127 0-.191.073-.191.202l.001.006C7.527 5.28 7.552 5.39 7.586 5.484l1.875 6.235c.048.153.104.266.168.314.064.057.16.081.304.081l.686-.001c.143 0 .255-.024.32-.081.063-.057.11-.162.15-.323l1.23-5.193 1.238 5.201c.031.162.087.267.15.323.065.057.169.081.32.081h.686c.01.001.019.001.029.001.102 0 .197-.03.275-.082.064-.048.12-.153.168-.314l1.923-6.234L17.105 5.5c.025-.066.045-.133.059-.21C17.172 5.241 17.181 5.201 17.181 5.16zM21.682 10.202c0 .008 0 .014 0 .022 0 .314-.164.589-.415.744-.271.178-.663.267-1.165.267-.32 0-.631-.032-.95-.097-.312-.065-.607-.161-.878-.282-.08-.032-.152-.065-.2-.081-.048-.016-.096-.024-.144-.024-.119 0-.183.081-.183.25v.411c.001.082.018.16.048.226.032.073.119.154.247.225.208.121.519.226.918.323.399.096.813.144 1.228.144.408 0 .782-.057 1.141-.169.343-.105.638-.25.886-.452.247-.194.439-.435.583-.71.135-.274.207-.589.207-.936 0-.419-.12-.798-.367-1.129-.247-.33-.663-.589-1.237-.775l-1.134-.362c-.423-.137-.718-.291-.877-.445-.16-.153-.24-.347-.24-.573 0-.33.128-.564.375-.717.247-.154.607-.225 1.062-.225.018 0 .037 0 .056 0 .534 0 1.042.115 1.476.314l-.004-.002c.092.052.194.086.307.099.12 0 .184-.089.184-.259V5.614c.001-.008.001-.017.001-.026 0-.09-.027-.173-.072-.24l-.001-.002c-.063-.082-.143-.151-.239-.2C22.216 5.096 22.104 5.048 21.96 5c-.143-.047-.295-.088-.455-.128-.168-.032-.335-.065-.518-.089-.176-.024-.36-.032-.535-.032-.351 0-.686.041-1.006.137-.32.096-.59.233-.83.419-.24.177-.431.403-.575.661-.143.259-.216.557-.216.895.002.443.152.851.4 1.17.263.363.694.637 1.277.821l1.157.364c.391.129.663.267.807.419.134.14.216.332.216.543 0 .008 0 .014 0 .021C21.682 10.201 21.682 10.201 21.682 10.202z" /><path fill="currentColor" d="M22.424 18.169c1.405-1.193 1.772-3.685 1.485-4.048-.287-.355-2.754-.661-4.254.403-.232.17-.192.396.063.364.854-.105 2.738-.33 3.074.104.335.428-.375 2.227-.695 3.025C22.001 18.258 22.209 18.355 22.424 18.169zM4.52 7.944c-.295-.04-.574-.065-.846-.065-.822 0-1.468.21-1.955.629-.487.418-.726.976-.726 1.661 0 .646.199 1.162.59 1.549.391.387.926.58 1.596.58.942 0 1.725-.371 2.347-1.112l.016.037c.076.16.159.315.232.438l.006.01c.083.132.177.257.281.369C6.14 12.113 6.22 12.154 6.3 12.154h.001c.077-.003.149-.03.207-.073l.503-.338c.104-.081.152-.162.152-.242 0-.057-.016-.121-.056-.185-.112-.21-.192-.404-.256-.582-.056-.177-.088-.418-.088-.717l-.016.001V7.404c0-.887-.223-1.549-.662-1.983C5.638 4.985 4.944 4.767 3.994 4.767c-.015 0-.031 0-.046 0-.426 0-.84.056-1.2.153C2.357 5.017 2.022 5.138 1.743 5.283L1.739 5.284c-.085.037-.16.095-.22.167-.04.057-.056.154-.056.283v.395c0 .169.056.25.168.25h.001c.045-.002.088-.01.126-.023l.016-.004C1.87 6.321 1.963 6.286 2.038 6.25 2.317 6.137 2.605 6.048 2.9 5.975c.295-.073.583-.104.863-.104.614 0 1.045.12 1.3.371.248.25.375.677.375 1.29v.589C5.12 8.049 4.815 7.984 4.52 7.944zM5.455 9.025v.338c0 .274-.033.508-.08.701-.048.194-.144.364-.272.517C4.888 10.823 4.632 11 4.345 11.097c-.288.097-.559.145-.822.145-.368 0-.647-.097-.838-.299-.2-.193-.295-.476-.295-.855 0-.403.127-.709.39-.926.264-.218.655-.323 1.19-.323.265 0 .525.018.75.048l.034.004C5.008 8.925 5.257 8.973 5.455 9.025z" /></svg>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/aws-configuration">AWS Configuration</a></h6>
                        <p class="fs--2">Manage AWS integration</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    @*<span class="far fa-facebook-f fa-2x fa-fw me-2"></span>*@
                    <svg class="svg-inline--fa fa-facebook-f fa-w-14 fa-2x fa-fw me-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" /></svg>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/facebook-configuration">Facebook Configuration</a></h6>
                        <p class="fs--2">Manage Facebook integration</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="d-flex position-relative mb-2">
                    <span class="far fa-scrubber fa-2x fa-fw me-2"></span>
                    <div class="flex-1">
                        <h6 class="fs-0 mb-0"><a class="stretched-link" href="/sa/opentable-configuration">OpenTable Configuration</a></h6>
                        <p class="fs--2">Manage OpenTable integration</p>
                    </div>
                </div>
            </div>
        </div>

    </Authorized>
</AuthorizeView>


@code
{
    private string title = "Configuration | Synergy Commerce Super Admin  Panel";


}
