.dynamic-fields {
  input.form-control {
    height: 40px;
    border: 1px solid #e9ecef;
    border-radius: 6px;
  }

  .error {
      color: #80172a;
      font-size: 12px;
      margin-bottom: 5px;
  }

  .date-picker-wrapper {
      display: flex;
      position: relative;
      flex-flow: row wrap;
      align-items: center;

      .form-control[readonly] {
          background-color: white;
          cursor: pointer;
      }
  }

  .btn-datepicker-icon.calendar {
      display: flex;
      position: absolute;
      z-index: 2;
      border: none;
      right: 0;
      margin-right: 0;
    }
    

    .btn-group {
      border: 1px solid #EEF2F5;
      border-radius: 6px;

      .btn {
        margin-right: 0 !important;
      }

      .btn-label {
          border-radius: 6px;
          color: #54667A;
          background-color: white;
      }

      .active {
        background-color: #54667A;
        color: white;
      }

      label {
        border-radius: 6px;
        color: #54667A;
      }
    }

  .field-check-label {
      display: inline-flex;
      position: relative;
      align-items: center;
      justify-content: center;
      padding: 0;
      height: 40px;
      width: 40px;
      border: 1px solid #e9ecef;
      border-radius: 6px;
      background-color: white;
  }

  .field-check-label::before {
      font-family: 'icomoon';
      font-size: 20px;
  }

  .field-check-label.active:before {
      font-family: 'icomoon';
      content: "\ea10";
      font-size: 20px;
  }

  .field-label {
    display: flex;
    align-items: center;

    .icon-svg {
      font-size: 8px;
      color:  red;
      margin-right: 3px;
    }
  }

  .editor {
    width: 100%;

    .NgxEditor__MenuBar {
      border-radius: 4px 4px 0 0;
      border: 1px solid rgba(0,0,0,.2);
      border-bottom: none;

      button {
        border: 1px solid #EAECEF;
        border-radius: 4px;
      }
    }

    .NgxEditor {
      border-radius: 0 0 4px 4px;

      .NgxEditor__Content {
        max-height: 150px;
        overflow-y: auto;
        overflow-wrap: anywhere;

        p {
          margin: 0;
        }

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
          background: #fff;
        }
      
        &::-webkit-scrollbar-thumb {
          background: #c1c1c1;
          border-radius: 1ex;
          -webkit-border-radius: 1ex;
        }
      }

      .NgxEditor__Content--Disabled {
        user-select: auto;
        pointer-events: all;
      }
    }        

    b, strong {
      font-weight: bold;
    }
  }
}

.fa-exclamation-circle {
  color: red;
}
