################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sharp/.vs
/CellarPass/CPReservationApi.WebApi/Properties
/CellarPass/CPReservationApi.WebApi/appsettings.Development.json
/CellarPass/CPReservationApi.WebApi/appsettings.json
