<div class="page-wrapper">
  <div class="header-wrapper d-flex justify-content-between mr-4">
    <h4>Users</h4>
    <div class="action-panel">
      <button
        class="btn btn-white btn-md shadow-none"
        (click)="openUserProductivityReportModal()"
      >
        Generate User Productivity Report
      </button>
      <button
        class="btn btn-new btn-info btn-md shadow-none"
        (click)="onAddUser()"
      >
        <span class="icon-plus"></span> Add User
      </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="overflow-hidden">
      <div class="input-group bg-white pl-3 pr-3">
        <div class="d-flex align-items-center">
          <svg
            width="22px"
            height="22px"
            viewBox="0 0 22 22"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>468FB134-F91D-4877-87C7-C740BBB5A2C7</title>
            <g
              id="Settings"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Settings-/-User-Management"
                transform="translate(-50.000000, -261.000000)"
              >
                <rect
                  fill="#F8FBFB"
                  x="0"
                  y="0"
                  width="1680"
                  height="1024"
                ></rect>
                <rect
                  id="Rectangle"
                  fill="#FFFFFF"
                  x="0"
                  y="207"
                  width="1680"
                  height="817"
                ></rect>
                <rect
                  id="Rectangle"
                  stroke="#EAECEF"
                  fill="#FFFFFF"
                  x="30.5"
                  y="237.5"
                  width="1619"
                  height="827"
                  rx="10"
                ></rect>
                <rect
                  id="Rectangle"
                  x="30"
                  y="237"
                  width="1620"
                  height="70"
                ></rect>
                <g
                  id="search_black_24dp-(1)"
                  transform="translate(50.000000, 261.000000)"
                >
                  <polygon id="Path" points="0 0 22 0 22 22 0 22"></polygon>
                  <path
                    d="M14.2083333,12.8333333 L13.4841667,12.8333333 L13.2275,12.5858333 C14.1258333,11.5408333 14.6666667,10.1841667 14.6666667,8.70833333 C14.6666667,5.4175 11.9991667,2.75 8.70833333,2.75 C5.4175,2.75 2.75,5.4175 2.75,8.70833333 C2.75,11.9991667 5.4175,14.6666667 8.70833333,14.6666667 C10.1841667,14.6666667 11.5408333,14.1258333 12.5858333,13.2275 L12.8333333,13.4841667 L12.8333333,14.2083333 L17.4166667,18.7825 L18.7825,17.4166667 L14.2083333,12.8333333 Z M8.70833333,12.8333333 C6.42583333,12.8333333 4.58333333,10.9908333 4.58333333,8.70833333 C4.58333333,6.42583333 6.42583333,4.58333333 8.70833333,4.58333333 C10.9908333,4.58333333 12.8333333,6.42583333 12.8333333,8.70833333 C12.8333333,10.9908333 10.9908333,12.8333333 8.70833333,12.8333333 Z"
                    id="Shape"
                    fill="#54667A"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <input
          type="text"
          class="form-control border-0"
          placeholder="Search Users"
          [(ngModel)]="searchTerm"
          (keyup)="onSearch()"
        />
        <div
          class="d-flex align-items-center"
          role="button"
          *ngIf="searchTerm"
          (click)="onSearchClear()"
        >
          <svg
            width="22px"
            height="22px"
            viewBox="0 0 22 22"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>1D28CDBB-B026-4859-B571-979653331709</title>
            <g
              id="Settings"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Settings-/-User-Management-/-Add"
                transform="translate(-985.000000, -210.000000)"
              >
                <rect
                  fill="#F8FBFB"
                  x="0"
                  y="0"
                  width="1680"
                  height="1024"
                ></rect>
                <rect
                  id="Rectangle"
                  stroke="#EAECEF"
                  fill="#FFFFFF"
                  x="270.5"
                  y="165.5"
                  width="1379"
                  height="827"
                  rx="10"
                ></rect>
                <rect
                  id="Rectangle"
                  x="270"
                  y="165"
                  width="1380"
                  height="70"
                ></rect>
                <rect
                  id="Rectangle"
                  fill-opacity="0.3"
                  fill="#54667A"
                  x="0"
                  y="0"
                  width="1680"
                  height="1024"
                ></rect>
                <g id="Group-3" transform="translate(645.000000, 186.000000)">
                  <rect
                    id="Rectangle"
                    fill="#FFFFFF"
                    x="0"
                    y="0"
                    width="390"
                    height="629"
                    rx="10"
                  ></rect>
                  <path
                    d="M10,0 L380,0 C385.522847,-1.01453063e-15 390,4.4771525 390,10 L390,70 L390,70 L0,70 L0,10 C-6.76353751e-16,4.4771525 4.4771525,-6.09089673e-15 10,0 Z"
                    id="Rectangle"
                    fill="#FFFFFF"
                  ></path>
                  <g
                    id="buttons-/-icon"
                    transform="translate(332.000000, 16.000000)"
                  >
                    <rect
                      id="Rectangle"
                      stroke="#EAECEF"
                      x="0"
                      y="0"
                      width="38"
                      height="38"
                      rx="4"
                    ></rect>
                    <g
                      id="close_black_24dp-(2)"
                      transform="translate(8.000000, 8.000000)"
                    >
                      <polygon id="Path" points="0 0 22 0 22 22 0 22"></polygon>
                      <polygon
                        id="Path"
                        fill="#54667A"
                        points="17.4166667 5.87583333 16.1241667 4.58333333 11 9.7075 5.87583333 4.58333333 4.58333333 5.87583333 9.7075 11 4.58333333 16.1241667 5.87583333 17.4166667 11 12.2925 16.1241667 17.4166667 17.4166667 16.1241667 12.2925 11"
                      ></polygon>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <!-- <div *ngIf="noUsers" class="no-matches">No matches found</div> -->
      <ag-grid-angular
        style="width: 100%; height: 90%"
        id="userGrid"
        [ngClass]="'ag-theme-alpine'"
        [rowHeight]="70"
        [columnDefs]="columns"
        [rowModelType]="rowModelType"
        [rowBuffer]="rowBuffer"
        [cacheOverflowSize]="cacheOverflowSize"
        [cacheBlockSize]="cacheBlockSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount"
        [maxBlocksInCache]="maxBlocksInCache"
        (gridReady)="onGridReady($event)"
        [defaultColDef]="defaultColumn"
        [frameworkComponents]="frameworkComponents"
      >
      </ag-grid-angular>
      <!-- [ngClass]="noUsers ? 'ag-theme-alpine d-none' : 'ag-theme-alpine'" -->
    </div>
  </div>
</div>
