.user-status {
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
  padding: 2px 6px;
}

.user-view {
  border: 1px solid #eaecef;
  border-radius: 6px;
  background-color: #fff;
  height: 38px;
  width: 64px;
  align-items: center;
  justify-content: center;
  display: none;

  &:hover {
    background-color: #c7cdd3;
  }
}
.user-productivity {
  border: 1px solid #eaecef;
  border-radius: 6px;
  background-color: #fff;
  height: 38px;
  width: 100px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  display: none;

  &:hover {
    background-color: #c7cdd3;
  }
}
