.filter-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  & ng-select, input {
    border-radius: 4px;
    color: #8C8C8C;
    font-weight: 400;
    height: 36px;
    font-size: 13px;
    border-color: #ccc;
  }

  & ng-select  {
    width: 160px;
  }

}

.filters-wrapper {
  display: flex;
  align-items: center;
  gap: 10px
}

.results-field {
  font-weight: 300;
  color: #3E5569;
  font-size: 16px;
}

:host ::ng-deep .ag-theme-quartz.custom-grid {

  --ag-foreground-color: #191919;
  --ag-header-foreground-color: #909BA8;
  --ag-header-background-color: #f8f9fa;

  --ag-font-size: 14px;
  --ag-font-family: Inter, system-ui, sans-serif;

  --ag-row-border-color: #D9D9D9;

  & .ag-root-wrapper {
    border: none;
    border-radius: 4px;
  }

  & .ag-cell .btn-download {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  & .ag-header {
    font-size: 16px;
    font-weight: 600;
    border: none;
  }

  & .ag-cell{
    display: flex;
    align-items: center;
  }

  & .ag-cell-checkbox .ag-icon {
    font-size: 1.2rem;
  }

  & .ag-paging-panel {
    border: none;
  }

}
