.set-section-modal {

    .sections-container {
        max-height: 500px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
            height: 6px;
            background: #fff;
            margin-left: 5px;
          }
        
          &::-webkit-scrollbar-thumb {
              background: #c1c1c1;
              border-radius: 1ex;
              -webkit-border-radius: 1ex;
          }
    }

    .add-section-btn {
        margin: 0;
        i.icon{
            font-size: 18px;
            margin-right: 10px;
        }
    }
}