.portal-report-wrapper {
  height: 100%;
  overflow-y: auto;

  h4 {
    padding: 24px 30px 23px 30px;
    color: #263237;
    font-size: 22px;
    font-weight: bold;
  }

  .create-btn-report {
    background-color: #145196;
    color: white;
  }
}
