@using CellarPassAppAdmin.Shared.Enums

<span class="badge badge rounded-pill @badgeClass" style="width:100px;">@StatusText</span>


@code {
    [Parameter]
    public string StatusText { get; set; }

    [Parameter]
    public int Status { get; set; }

    private string badgeClass = "";

    protected override void OnInitialized()
    {

        //Set Color of Badge
        switch (Status)
        {
            case (int)ReservationStatus.Pending:
                badgeClass = "badge-soft-success";
                break;
            case (int)ReservationStatus.Completed:
                badgeClass = "bg-success";
                break;
            case (int)ReservationStatus.Cancelled:
                badgeClass = "bg-danger";
                break;
            case (int)ReservationStatus.NoShow:
                badgeClass = "bg-secondary";
                break;
            case (int)ReservationStatus.Rescheduled:
                badgeClass = "badge-soft-warning";
                break;
            case (int)ReservationStatus.GuestDelayed:
                badgeClass = "bg-info";
                break;
            case (int)ReservationStatus.Updated:
                badgeClass = "badge-soft-secondary";
                break;
            case (int)ReservationStatus.YelpInitiated:
                badgeClass = "badge-soft-secondary";
                break;
            case (int)ReservationStatus.Initiated:
                badgeClass = "badge-soft-secondary";
                break;
            default:
                badgeClass = "badge-soft-secondary";
                break;
        }

    }




}
