@page "/reports/tickets/pay-out-report"
@layout AuthorizedLayout
@using CellarPassAppAdmin.Shared.Services
@using CellarPassAppAdmin.Client.ViewModels
@using CellarPassAppAdmin.Shared.Models
@using CellarPassAppAdmin.Shared.Models.ViewModel
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject IMemberViewModel _memberViewModel
@inject ILoginViewModel _loginViewModel
@inject ITicketViewModel _ticketViewModel
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ICellarPassAuthenticationStateProvider _cellarPassAuthenticationStateProvider
@inject ILocalStorageService localStorage
@attribute [Authorize]


<Title Value="@title"></Title>

<div class="card shadow-none border">
    <div class="card-header border-bottom">
        <div class="row justify-content-between align-items-center">
            <div class="col-md">
                <h5 class="mb-3 mb-md-0"><span class="far fa-chart-line me-2"></span>Pay Out Report</h5>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <form>
            <div class="row m-2 mb-4 row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col-12 col-md-4">
                    <div class="input-group">
                        <span class="input-group-text bg-white" id="inputGroupSearch"><span class="far fa-search"></span></span>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
            </div>
        </form>
        <div class="sf-grid min-vh-75">
            <SfGrid DataSource="@TicketList" AllowPaging="true" Width="100%">
                <GridFilterSettings Mode="FilterBarMode.Immediate"></GridFilterSettings>
                <GridPageSettings PageSize="50"></GridPageSettings>
                <GridTemplates>
                    <EmptyRecordTemplate>
                        @if (!isLoading && TicketList.Count <= 0)
                        {
                            <div class="min-vh-75 font-weight-black fs-8 text-center my-4">
                                <h6><span class="fa-regular fa-exclamation-triangle me-2"></span>No Tickets</h6>
                            </div>
                        }
                    </EmptyRecordTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn HeaderText="" TextAlign="TextAlign.Center" Width="30">
                        <Template>
                            @{
                                <button class="delete_icon">
                                    <span class="far fa-hand-holding-usd"></span>
                                </button>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Event Name" TextAlign="TextAlign.Left" Width="150">
                        <Template>
                            @{
                                var ticketData = (context as TicketData);
                                <a href="javascript:void();">@ticketData.EventName</a>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(TicketData.EventStartDate) HeaderText="Event Start Date" TextAlign="TextAlign.Left" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(TicketData.EventEndDate) HeaderText="Event End Date" TextAlign="TextAlign.Left" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(TicketData.Capacity) HeaderText="Capacity" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                    <GridColumn Field=@nameof(TicketData.VenueName) HeaderText="Venue Name" TextAlign="TextAlign.Left" Width="100"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code
{

    private string title = "Pay Out Report | Synergy Commerce Admin Panel";

    [Parameter]
    public int Id { get; set; }

    private bool SpinnerVisibility { get; set; } = false;
    private Boolean isLoading = true;


    public class TicketData
    {
        public string EventName { get; set; }
        public string EventStartDate { get; set; }
        public string EventEndDate { get; set; }
        public string Capacity { get; set; }
        public string VenueName { get; set; }
    }

    public List<TicketData> TicketList = new List<TicketData>()
{
        new TicketData(){ EventStartDate = "2/19/2022 11:00 AM", EventEndDate= "2/22/2022 05:00 PM", EventName= "Anderson Valley White Wine Weekend 2022", Capacity="26/300" , VenueName="Anderson Valley Winegrowers"  },
        new TicketData(){ EventStartDate = "5/14/2022 10:30 AM", EventEndDate = "5/16/2022 06:00 PM", EventName= "Anderson Valley Passport to Pinot", Capacity="253/300" , VenueName="Anderson Valley Winegrowers"  },
};



}
