@page "/settings/floor-plans"
@layout AuthorizedLayout
@using CellarPassAppAdmin.Shared.Services
@using CellarPassAppAdmin.Client.ViewModels
@using CellarPassAppAdmin.Shared.Models
@using CellarPassAppAdmin.Shared.Models.ViewModel
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject IMemberViewModel _memberViewModel
@inject ILoginViewModel _loginViewModel
@inject ITicketViewModel _ticketViewModel
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ICellarPassAuthenticationStateProvider _cellarPassAuthenticationStateProvider
@inject ILocalStorageService localStorage
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <Title Value="@title"></Title>

        <div class="card">
            <div class="card-header border-bottom">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md">
                        <h5 class="mb-3 mb-md-0"><a href="settings" class="btn btn-falcon-default btn-sm px-2 me-3" title="Back"><span class="far fa-arrow-left me-1"></span></a><span class="far fa-game-board me-2"></span>Floor Plan Manager</h5>
                    </div>
                    <div class="col-auto">
                        <select class="form-select form-select-sm" aria-label="Active">
                            <option value="1" selected>Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-sm btn-primary" href="#!">Add New</a>
                    </div>
                </div>
            </div>
            <div class="card-body min-vh-50 p-0">

                <div class="table-responsive scrollbar">
                    <table class="table fs--1 mb-0">
                        <thead class="bg-200 text-900">
                            <tr>
                                <th class="pe-1 align-middle white-space-nowrap"></th>
                                <th class="pe-1 align-middle white-space-nowrap">Sort</th>
                                <th class="pe-1 align-middle white-space-nowrap">ID</th>
                                <th class="pe-1 align-middle white-space-nowrap">Active</th>
                                <th class="pe-1 align-middle white-space-nowrap">Floor Plan Name</th>
                                <th class="pe-1 align-middle white-space-nowrap">Destination Name</th>
                                <th class="pe-1 align-middle white-space-nowrap">Capacity</th>
                                <th class="pe-1 align-middle white-space-nowrap">Width</th>
                                <th class="pe-1 align-middle white-space-nowrap">Length</th>
                            </tr>
                        </thead>
                        <tbody class="" id="table-locations-body">
                            <tr>
                                <td class="align-middle white-space-nowrap"><a href="#!"><span class="far fa-pencil-alt"></span></a></td>
                                <td class="align-middle white-space-nowrap">60</td>
                                <td class="align-middle white-space-nowrap">6</td>
                                <td class="align-middle white-space-nowrap"><span class="fas fa-check"></span></td>
                                <td class="align-middle white-space-nowrap">BBQ Area</td>
                                <td class="align-middle white-space-nowrap">Encore Winery</td>
                                <td class="align-middle">18</td>
                                <td class="align-middle">25.00</td>
                                <td class="align-middle">25.00</td>
                            </tr>
                            <tr>
                                <td class="align-middle white-space-nowrap"><a href="#!"><span class="far fa-pencil-alt"></span></a></td>
                                <td class="align-middle white-space-nowrap">50</td>
                                <td class="align-middle white-space-nowrap">8</td>
                                <td class="align-middle white-space-nowrap"><span class="fas fa-check"></span></td>
                                <td class="align-middle white-space-nowrap">Downtown Private Dining Room</td>
                                <td class="align-middle white-space-nowrap">Encore Winery Downtown Tasting Room</td>
                                <td class="align-middle">48</td>
                                <td class="align-middle">25.00</td>
                                <td class="align-middle">25.00</td>
                            </tr>
                            <tr>
                                <td class="align-middle white-space-nowrap"><a href="#!"><span class="far fa-pencil-alt"></span></a></td>
                                <td class="align-middle white-space-nowrap">20</td>
                                <td class="align-middle white-space-nowrap">9</td>
                                <td class="align-middle white-space-nowrap"><span class="fas fa-check"></span></td>
                                <td class="align-middle white-space-nowrap">Historic Fuel Station</td>
                                <td class="align-middle white-space-nowrap">Encore Winery Downtown Tasting Room</td>
                                <td class="align-middle">96</td>
                                <td class="align-middle">45.00</td>
                                <td class="align-middle">45.00</td>
                            </tr>
                            <tr>
                                <td class="align-middle white-space-nowrap"><a href="#!"><span class="far fa-pencil-alt"></span></a></td>
                                <td class="align-middle white-space-nowrap">68</td>
                                <td class="align-middle white-space-nowrap">10</td>
                                <td class="align-middle white-space-nowrap"><span class="fas fa-check"></span></td>
                                <td class="align-middle white-space-nowrap">Main Floor</td>
                                <td class="align-middle white-space-nowrap">Encore Winery Downtown Tasting Room</td>
                                <td class="align-middle">79</td>
                                <td class="align-middle">40.00</td>
                                <td class="align-middle">40.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="font-weight-black text-100 fs-8 text-center my-4"><span class="fas fa-game-board me-2"></span>Floor Plan Manager</div>

            </div>
            <div class="card-footer">

            </div>
        </div>

    </Authorized>
</AuthorizeView>


@code
{
    bool isDisabledModalVisible = false;

    private string title = "Floor Plan Manager | Synergy Commerce Admin Panel";


    [Parameter]
    public int Id { get; set; }

    
}
