@page "/settings/taxes"
@layout AuthorizedLayout
@using CellarPassAppAdmin.Client.ViewModels
@using CellarPassAppAdmin.Shared.Models
@using CellarPassAppAdmin.Shared.Models.ViewModel
@inject ISettingsViewModel _settingsViewModel
@inject IBusinessViewModel _businessViewModel
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ICellarPassAuthenticationStateProvider _cellarPassAuthenticationStateProvider
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <Title Value="@title"></Title>
        <SfSpinner @bind-Visible="spinnerVisibility"></SfSpinner>
        <div class="card mb-4">
            <div class="card-header border-bottom">
                <div class="row justify-content-between">
                    <div class="col-md">
                        <h5 class="mb-3 mb-md-0"><a href="settings" class="btn btn-falcon-default btn-sm px-2 me-3" title="Back"><span class="far fa-arrow-left me-1"></span></a><span class="far fa-calculator me-2"></span>Configure Taxes</h5>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="theme-wizard border-bottom p-3">
                    <ul class="nav justify-content-between nav-wizard">
                        <li class="nav-item">
                            <a class="nav-link active fw-semi-bold" href="#bootstrap-wizard-tab1" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                                <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-1"></span></span></span>
                                <span class="d-none d-md-block mt-1 fs--1">Choose Tax Service</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab2" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                                <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-2"></span></span></span>
                                <span class="d-none d-md-block mt-1 fs--1">Create Tax Class</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab3" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                                <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-3"></span></span></span>
                                <span class="d-none d-md-block mt-1 fs--1">Create / Edit Product</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab4" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                                <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-4"></span></span></span>
                                <span class="d-none d-md-block mt-1 fs--1">Assign Tax Class</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semi-bold" href="#bootstrap-wizard-tab5" data-bs-toggle="tab" data-wizard-step="data-wizard-step">
                                <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-5"></span></span></span>
                                <span class="d-none d-md-block mt-1 fs--1">Save Product</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row p-3">
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="d-flex position-relative mb-2">
                            <span class="far fa-calculator fa-2x fa-fw me-2"></span>
                            <div class="flex-1">
                                <h6 class="fs-0 mb-0"><a class="stretched-link" href="@marketplacePartnerUrl">Sales Tax Rates</a></h6>
                                <p class="fs--2">Define sales tax rates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="d-flex position-relative mb-2">
                            <span class="far fa-layer-group fa-2x fa-fw me-2"></span>
                            <div class="flex-1">
                                <h6 class="fs-0 mb-0"><a class="stretched-link" href="settings/taxes/tax-classes">Tax Classes</a></h6>
                                <p class="fs--2">Define tax classes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3">
                        <div class="d-flex position-relative mb-2">
                            <span class="far fa-calculator fa-2x fa-fw me-2"></span>
                            <div class="flex-1">
                                <h6 class="fs-0 mb-0"><a class="stretched-link" href="settings/taxes/test-sales-tax-calculator">Test Tax Calculation</a></h6>
                                <p class="fs--2">Test rates to confirm accuracy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code
{
    private string title = "Configure Taxes Classes | Synergy Commerce Admin Panel";
    private Boolean spinnerVisibility;
    private string taxServiceId;
    private string marketplacePartnerUrl;
    private Member currentMember = new Member();
    private BusinessConfigurationOptionModel taxServiceDetail = new BusinessConfigurationOptionModel();

    protected override async Task OnInitializedAsync()
    {
        spinnerVisibility = true;
        currentMember = await _cellarPassAuthenticationStateProvider.GetCurrentMemberAsync();
        await GetDefaultTaxService();
        spinnerVisibility = false;
        StateHasChanged();
    }

    private async Task GetDefaultTaxService()
    {
        var response = await _settingsViewModel.GetBusinessSettingAsync(currentMember.Id, BusinessSettingsMetaNamespace.BusinessAccount, BusinessSettingsMetaKey.TaxService);
        if (response.success && response.data != null)
        {
            taxServiceId = response.data.MetaValue;
            if (!string.IsNullOrEmpty(taxServiceId))
            {
                await GetTaxServiceDetail();
            }
        }
    }

    private async Task GetTaxServiceDetail()
    {
        var response = await _businessViewModel.GetBusinessConfigurationOptionDetail(BusinessConfigurationNamespace.TaxService, taxServiceId);
        if (response.success && response.data != null)
        {
            taxServiceDetail = response.data;
            if (taxServiceDetail != null && taxServiceDetail.SettingName.ToLower() == IntegratedPartners.Avalara.ToLower())
            {
                marketplacePartnerUrl = "/Avalara-marketplace/partner/" + taxServiceId;
            }
            else if (taxServiceDetail != null && taxServiceDetail.SettingName.ToLower() == IntegratedPartners.ShipCompliant.ToLower())
            {
                marketplacePartnerUrl = "/ShipCompliant-marketplace/partner/" + taxServiceId;
            }
            else if (taxServiceDetail != null && taxServiceDetail.SettingName.ToLower() == "manual")
            {
                marketplacePartnerUrl = "/settings/custom-tax-rates";
            }
        }
        StateHasChanged();
    }
}
