.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  h4 {
    padding: 24px 30px 23px 30px;
    color: #263237;
    font-size: 22px;
    font-weight: bold;
  }

  .section-header {
    display: flex;
    margin-right: -10px;
    padding-left: 5px;
    border-bottom: 1px solid #EEF2F5;
    border-radius: 10px;
    height: 65px;

    .icon {
      font-size: 22px;
    }

    input {
      height: 60px;
    }

    .action-panel {
      margin-left: 20px;
    }
  }

  .organizations-list {
    height: calc(100vh - 235px);
    overflow-y: auto;
    overflow-x: hidden;

    .active-organization {
      background-color: #F8FBFB;
      border-left: 2px solid #145196;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 1ex;
      -webkit-border-radius: 1ex;
    }
  }

  .organizations-and-facilities {
    height: calc(100vh - 160px);

    .organizations-section,
    .forms-and-facilities-section {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 0;

      .edit-span {
        width: 100%;
      }

      .edit-link {
        float: right;
        margin-right: 18px;
        margin-top: 8px;
        font-size: 19px;
        color: black;
        display: none;
      }

      .fields-organizations {
        height: 77px;
        width: 100%;
        padding-left: 20px;
        padding-top: 20px;
        border-bottom: 1px solid #EEF2F5;
        cursor: pointer;

        &:hover {
          background-color: #F8FBFB !important;
        }

        &:hover .edit-link {
          display: flex;
        }

        .organization-name {
          height: 19px;
          width: 294px;
          color: #54667A;
          font-size: 16px;
          font-weight: 550;
          letter-spacing: 0;
          line-height: 19px;
        }

        .facilities-label {
          height: 14px;
          width: 294px;
          color: #909BA8;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 22px;
        }
      }

      .card {
        margin-bottom: 0px !important;
        height: 65px;
        border-bottom: 1px solid #EEF2F5;
        border-radius: 10px;

        .card-body {
          .button-wrapper {
            .btn-facilities,
            .btn-forms {
              border: 1px solid #EAECEF;
              border-radius: 6px;
              background-color: #FFFFFF;
              padding: 9px 14px;
              margin-top: -9px;

              &.active {
                color: #FFFFFF;
                background-color: #54667A;
              }

              &.near {
                right: 160px;
              }

              &.far {
                right: 303px;
              }
            }
          }
        }
      }

      .facilities-section {
        height: calc(100vh - 235px);
      }
    }

    .organizations-section {
      min-width: 350px;
      width: 25%;
    }

    .forms-and-facilities-section {
      min-width: 500px;
      width: 75%;

      &.empty {
        display: flex;
        justify-content: center;
        padding-top: 20px;
      }
    }
  }
}
